.cart-render {
    font-size: 1rem;
    margin-right: 5%;
}

.bi-cart4 {
    color: grey;
    height: 1em;
    cursor: pointer;
    transition: all .5s;
    margin-right: 15%;
    margin-left: 20%;
    font-size: 2rem;
}
.bi-cart4:hover {
    color: #ae77f8;

}
.enlace{
    background-color: rgb(53, 53, 53);
    color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-radius: 5px;
    transition: all 2s;
    padding: 5px;
    
}
.cart-cantidad {
    margin-right: 20%;
}